
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p> ViewData    =>>>      @ViewData["Name"]</p>
<p>ViewBag       =>>>         @ViewBag.SurName</p>
<p>TempData    =>>        @TempData["Age"]</p>



<a href="/home/index">GO TO HOME</a>

